/* Stylesheet by Mengyu Liang, 2016 */
/*style the map*/
#mapid {
	height:720px;
	width: 100%;
	display: inline-block;

	
}
/*#panel{
	width: 0%;
	padding: 0px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 0px;
}*/
/*style the popup window when the page was loaded in*/
#ac-wrapper {
	height: 150px;
	font-family: "Helvetica";
	font-size: 16px;
	color: #373c42;
	padding-top: 3px;
	text-align: center;
	background-color: #c7c7c7;
}
/*style th erange slider*/
#range-slider{
	width: 200px;	

}

/*style the location of the forward botton*/
#forward{
	float: right;
}
/*style the location of the reverse botton*/
#reverse{
	float:left;
}
/*style the popupContent text*/
.leaflet-popup-content p{
	font-family: "Helvetica";
	font-size: 14px;
	margin: 0.2em 0;
	display: inline-block;
	text-align: left;

}


/*style the sequence control slider and the container*/
.sequence-control-container {
	width: 350px;
	height: 30px;
	padding: 5px;
	display: inline;
	line-height: 45px;
	text-align: center;
	background-color: rgba(184, 201, 214, .75);
	opacity: 50%;

}
.legend-control-container img{
	padding-top: 5px;
}
/*style the temporal and attribte legend and their container*/
.legend-control-container{
	font-family: "Helvetica";
	font-size: 15px;

	width: 300px;
	height: 300px;
	padding-bottom: 3px;
	line-height: 25px;
	text-align: center;
	background-color: rgba(184, 201, 214, .55);
	opacity: 40%;	
}
/*this style the overlay legend images*/
.legend-control-container img{
	padding-top: 15px;

	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	float: left;
}
/*this style the overlay legend text*/
.legend-control-container span{
	font-family: "Helvetica";
	font-size: 15px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 15px;
	float: right;

}

/*style the overlay control*/
.leaflet-control-layers{
	font-family: "Helvetica";
	font-size: 15px;
	padding-bottom: 5px;

}

/*strong, b {
	text-align: center;
    font-weight: bold;
    font-size: 18px;

    float: left;
    padding-top: 20px;
    padding-left: 70px;
}*/



